:root {
    --componentBG: #ebecf0;
    --containerBG: #f6f6f6;
    --grayText: #5A5A5A;
}

body {
    font-family: "Artico", sans-serif;
    background-color: #459cf5;
}

.container {
    display: flex;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    width: 80vw;
    height: 88vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px #558cba;
    background-color: var(--containerBG);
    border-radius: 25px;
}

.sidebar-navigation {
    height: 93%;
    width: 100px;
    margin: 2em;
    margin-right: 1em;
    border-radius: 20px;
    background-color: var(--componentBG);
}

.main-info-container {
    margin: 2em;
    margin-left: 1em;
    margin-right: 1em;
    height: 93%;
    width: 59%;
    background-color: var(--containerBG);
    border-radius: 20px;
}

.city-input-container {
    background-color: var(--componentBG);
    display: flex;
    text-align: center;
    width: 100%;
    height: 5%;
    border-radius: 10px;
    margin-bottom: 1em;
}

.city-input-container>input {
    background-color: var(--componentBG);
    outline: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}

.main-weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 96%;
    height: 25%;
    margin: 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: var(--containerBG);
}

.mwc-left {
    border-radius: 10px;
    width: 120%;
    height: 100%;
    background-color: var(--containerBG);
}

.mwc-left>.city-name {
    border-radius: 10px;
    width: 100%;
    height: 20%;
    font-weight: 700;
    font-size: 2em;
}

.mwc-left>.main-description {
    border-radius: 10px;
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--grayText);
    width: 100%;
    height: 30%;
}

.mwc-left>.main-temperature {
    border-radius: 10px;
    font-size: 3.5em;
    font-weight: 900;
    height: 40%;
    width: 100%;
}

.mwc-right>.main-image {
    height: auto;
    transform: scale(1.2);
    width: 35%;
    float: right;
    margin-right: 2em;
    margin-top: 1em;
}

.mwc-right>.main-image:hover {
    transform: scale(1.4);
}

.todays-forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--componentBG);
}

.todays-forecast > .tf-header {
    /* background-color: green; */
    width: 96%;
    height: 1em;
}

.todays-forecast > .tf-item-container {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    width: 93%;
    height: 63%;
    margin: auto;
    margin-bottom: 2em;
}

.tf-item-container > .tf-item {
    text-align: center;
    width: 12%;
    height: 100%;
    border: 1px solid black;
}

.air-conditions {
    width: 100%;
    height: 30.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid var(--componentBG);
    background-color: var(--componentBG);
    grid-template-columns: 2fr 2fr;
}

.ac-top-left {
    color: var(--grayText);
    margin-left: 1.6em;
    border-radius: 10px;
    float: left;
    /* background-color: yellow; */
    width: 45%;
    height: 40%;
}

.ac-top-left>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1em;
    line-height: 1px;
}

.ac-top-right {
    color: var(--grayText);
    margin-right: 1.6em;
    border-radius: 10px;
    float: right;
    /* background-color: orange; */
    width: 45%;
    height: 40%;
}

.ac-top-right>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1em;
    line-height: 1px;
}

.ac-bottom-left {
    color: var(--grayText);
    margin-left: 1.6em;
    border-radius: 10px;
    float: left;
    /* background-color: green; */
    width: 45%;
    height: 30%;
}

.ac-bottom-left>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1em;
    line-height: 1px;

}

.ac-bottom-right {
    color: var(--grayText);
    margin-right: 1.6em;
    border-radius: 10px;
    float: right;
    /* background-color: blue; */
    width: 45%;
    height: 30%;
}

.ac-bottom-right > p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1em;
    line-height: 1px;
}

.week-forecast-container {
    margin: 2em;
    margin-top: 4em;
    margin-left: 1em;
    height: 85%;
    width: 30%;
    /* border: 1px solid black; */
    flex-direction: row;
    align-self: flex-end;
    background-color: var(--componentBG);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.wf-header {
    margin: 1em;
    color: var(--grayText);
    font-weight: 600;
}

.tf-header {
    margin: 1em;
    color: var(--grayText);
    font-weight: 600;
}

.tf-image{
    width:45px;
    height: 45px;
}

.ac-header {
    margin: 1em;
    color: var(--grayText);
    font-weight: 600;
}



