:root {
    --componentBG: #ebecf0;
    --containerBG: #f6f6f6;
    --grayText: #5A5A5A;
    --divider: lightgray;
}

body {
    font-family: "Artico", sans-serif;
    background-color: #459cf5;
}

.container {
    display: flex;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    width: 80vw;
    height: 88vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid 1px #558cba;
    background-color: var(--containerBG);
    border-radius: 25px;
}

/* ---------------------------sidebar nav --------------------------- */

.sidebar-navigation {
    height: 93%;
    width: 100px;
    margin: 2em;
    margin-right: 1em;
    border-radius: 20px;
    background-color: var(--componentBG);
}

.sb-weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sb-weather-icon {
    margin: auto;
    margin-top: 2em;
    height: 45px;
    width: 45px;
}

.sb-weather-text {
    text-align: center;
    font-weight: 600;
    color: var(--grayText);
}

/* ---------------------------main display --------------------------- */
.main-info-container {
    margin: 2em;
    margin-left: 1em;
    margin-right: 1em;
    height: 93%;
    width: 59%;
    background-color: var(--containerBG);
    border-radius: 20px;
}

.city-input-container {
    background-color: var(--componentBG);
    display: flex;
    text-align: center;
    width: 100%;
    height: 5%;
    border-radius: 10px;
    margin-bottom: 1em;
}

.city-input-container>input {
    background-color: var(--componentBG);
    outline: none;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}

.main-weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 96%;
    height: 25%;
    margin: 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: var(--containerBG);
}

.mwc-left {
    border-radius: 10px;
    width: 120%;
    height: 100%;
    background-color: var(--containerBG);
}

.mwc-left>.city-name {
    border-radius: 10px;
    width: 100%;
    height: 20%;
    font-weight: 700;
    font-size: 2em;
}

.mwc-left>.main-description {
    border-radius: 10px;
    font-size: 1em;
    padding-top: 0.5em;
    color: var(--grayText);
    width: 100%;
    height: 30%;
}

.mwc-left>.main-temperature {
    border-radius: 10px;
    font-size: 3.5em;
    font-weight: 900;
    height: 40%;
    width: 100%;
}

.mwc-right>.main-image {
    height: auto;
    transform: scale(1.2);
    width: 35%;
    float: right;
    margin-right: 2em;
    margin-top: 1em;
}

.mwc-right>.main-image:hover {
    transform: scale(1.4);
}

/* ---------------------------todays forecast --------------------------- */

.todays-forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: var(--componentBG);
}

.todays-forecast>.tf-header {
    width: 96%;
    height: 1em;
}

.todays-forecast>.tf-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 63%;
    margin: auto;
    margin-bottom: 2em;
}

.tf-item-container>.tf-item {
    text-align: center;
    width: 15%;
    height: 85%;
    border-right: 1px solid var(--divider);
    font-size: large;
    color: var(--grayText);
    font-weight: 600;
}

.tf-item-container>.tf-item:nth-child(5) {
    border-right: none;
}

.tf-item-container>.tf-item:last-child {
    border-right: none;
    border-left: 1px solid var(--divider);
}

.tf-item-container>.tf-item>p {
    font-size: x-large;
    margin: 1em;
    font-weight: 600;
    color: black;
}

.tf-header {
    margin: 1em;
    color: var(--grayText);
    font-weight: 600;
}

.tf-item-image {
    margin-top: 1em;
    width: 45px;
    height: 45px;
}

/* ---------------------------air conditions --------------------------- */

.air-conditions {
    width: 100%;
    height: 30.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid var(--componentBG);
    background-color: var(--componentBG);
    grid-template-columns: 2fr 2fr;
}

.ac-header {
    margin: 1em;
    color: var(--grayText);
    font-weight: 600;
}

.ac-top-left {
    color: var(--grayText);
    margin-left: 1.6em;
    border-radius: 10px;
    float: left;
    width: 45%;
    height: 40%;
}

.ac-top-left>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1.5em;
    line-height: 1px;
}

.ac-top-right {
    color: var(--grayText);
    margin-right: 1.6em;
    border-radius: 10px;
    float: right;
    width: 45%;
    height: 40%;
}

.ac-top-right>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1.5em;
    line-height: 1px;
}

.ac-bottom-left {
    color: var(--grayText);
    margin-left: 1.6em;
    border-radius: 10px;
    float: left;
    width: 45%;
    height: 30%;
}

.ac-bottom-left>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1.5em;
    line-height: 1px;
}

.ac-bottom-right {
    color: var(--grayText);
    margin-right: 1.6em;
    border-radius: 10px;
    float: right;
    width: 45%;
    height: 30%;
}

.ac-bottom-right>p {
    font-size: x-large;
    color: black;
    font-weight: 600;
    margin-left: 1.5em;
    line-height: 1px;
}

.ac-svg-word-container {
    width: 9em;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* ---------------------------week forecast --------------------------- */

.week-forecast-container {
    display: flex;
    margin: 2em;
    margin-top: 4em;
    margin-left: 1em;
    height: 85%;
    width: 30%;
    align-self: flex-end;
    background-color: var(--componentBG);
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.wf-header {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    color: var(--grayText);
    font-weight: 600;
    width: 85%;
}

.wf-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--divider);
    width: 85%;
    height: 15%;
}

.wf-image-container {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 45%;
    font-size: large;
    font-weight: 600;
    color: black;
}

.wf-day {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: medium;
    font-weight: 600;
    color: var(--grayText);
}

.wf-temp {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: medium;
    font-weight: 600;
    color: var(--grayText);
}

.wf-temp-max {
    color: black;
    margin-right: 4px;
}

.wf-item:last-child {
    border-bottom: none;
}

.wf-item-image {
    width: 40px;
    height: 40px;
}